body {
  margin: 0;
  font-family:  "GT-America", "Helvetica", Helvetica, system, Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #e0e0e0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}


.nav-title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 86px;
  white-space: nowrap;
  
}

.nav-links {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  font-weight: bold;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 11px;
  white-space: nowrap;
  padding-bottom: 4px;
  display: inline-block;
}

.nav-links li.active a {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.hero-one{
    display: flex;
   
}
   .hero-one img {
  /* display: block; */
  width: 341px;
  height: 350px;
  margin: 10px auto;
  flex: 1 1 auto;
  padding: 20px 20px 10px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the span horizontally */
  text-align: center;  /* Centers text inside the span */
}

.cards span {
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px; /* optional: adds space between image and text */
}
